@font-face{
    font-family: Halo;
    src: url("HaloHandletter.otf") format("opentype");
}

*{
    margin: 0 auto;
    padding: 0;
}

#container{
    width: 480px;
    height: auto;
    margin: 150px auto;
}

.principal{
    width: 480px;
    height: 270px;
    border: solid 3px #000;
    overflow: hidden;
}

.slide{
    display: flex;
    width: 600%;
    transition: all .8s;
}

label img{
    width: 120px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
    transition: all .4s;
}

#foto1:checked ~ .principal  .slide{
    margin-left: 0%;
}

#foto2:checked ~ .principal  .slide{
    margin-left: -100%;
}

#foto3:checked ~ .principal  .slide{
    margin-left: -200%;
}

#foto4:checked ~ .principal  .slide{
    margin-left: -300%;
}

#foto5:checked ~ .principal  .slide{
    margin-left: -400%;
}

#foto6:checked ~ .principal  .slide{
    margin-left: -500%;
}

input[name="grupo"]{
    display: none;
}

input[name="grupo"]:checked + label img{
    opacity: .9;
}

body{
    background-color: whitesmoke;
    cursor: url(heart4.cur) 1 1, pointer;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 60px;
    border: 1px solid #800000;
    padding: 10px;
    background-color: #DE144C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#esquerda{
    height: 110%;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: black;
    font-family: halo ;
}
